img {
    width: 300px; 
    height: auto;
}

h1 {
    font-family: 'Brush Script MT', cursive;
}
img {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}

h2 {
    color: #0649b4;
}

button {
    background-color: #f9a825; 
    color: white;
    font-weight: bold;
    padding: 10px 20px;         
    border: none;
    border-radius: 8px;         
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c17900;  
}

button:active {
    transform: scale(0.98);
}

label {
    cursor: pointer;
    font-weight: 600;
}

h2 {
    font-family: 'Georgia', serif;  /* police élégante et lisible */
    color: #a0522d;                 /* une couleur marron douce */
    font-size: 1.8em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
